* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: "PT Sans Narrow", Helvetica, sans-serif;
}

.floor {
  height: 60px;
  border: 3px double #303330;
  border-width:6px 0 6px;
  background: #c4c2c4;
}

.restaurant,
.shaft,
.car {
  line-height: 54px;
  text-align: center;
  position: relative;
}

.restaurant {
  width: 194px;
  height: 54px;
  background: #fcfae4;
  border: 3px solid #ccc69c;
  line-height: 56px;
}

  .floor .restaurant {
    float: left;
  }

.shaft {
  height: 60px;
  width: 48px;
  background: #242624;
  border-left: 6px solid #1c1a1c;
  border-right: 6px solid #1c1a1c;
  color: #ccc69c;
}

  .floor .shaft {
    position: relative;
    float: none;
  }

.restaurant:hover {
  cursor: pointer;
}

.car {
  background: #e4e6fc;
  border: 3px solid #b4b2fc;
  border-bottom-color: #ccc69c;
  height: 50px;
  width: 42px;
  position: absolute;
  top: 3px;
  -webkit-animation: elevate 5s ease infinite;
}

@-webkit-keyframes elevate {
    0% {
      top: 3px;
    }
    50% {
      top: auto;
      bottom: 0;
    }
    100% {
      top: 3px;
    }
}
