* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: "PT Sans Narrow", Helvetica, sans-serif;
}

.floor {
  height: 60px;
  border: 3px double #303330;
  border-width:6px 0 6px;
  background: #c4c2c4;
}

.restaurant,
.shaft {
  line-height: 60px;
  text-align: center;
  position: relative;
}

.restaurant {
  width: 200px;
  height: 57px;
  background: #fcfae4;
  border-bottom: 3px solid #ccc69c;
  line-height: 56px;
}

  .floor .restaurant {
    float: left;
  }

.shaft {
  height: 60px;
  width: 48px;
  background: #242624;
  border-left: 6px solid #1c1a1c;
  border-right: 6px solid #1c1a1c;
  color: #ccc69c;
}

  .floor .shaft {
    position: absolute;
    float: none;
  }

.restaurant:hover {
  cursor: pointer;
}
